@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    color: #fff;
}

body {
    background-image: linear-gradient(140deg, #142c47 0%, #000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 0 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header>* {
    display: flex;
    align-items: center;
}

header * {
    font-size: 24px;
    font-weight: 600;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a.active {
    color: #00F911;
    text-decoration: underline;
}

header img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

header div button.loginBTN {
    background: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

header div button {
    background-color: #00F911;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

main {
    padding: 2rem;
}

main section div .country-list {
    display: flex;
    gap: 1rem;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    width: auto;
    overflow-x: auto;
}

main section div .country-list::-webkit-scrollbar {
    display: none;
}

main section div .country-list .country-card {
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main section div .country-list .country-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
}

main section div .country-list .country-card span {
    font-size: 1.5rem;
    font-weight: 700;
}

main section>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

main section div .filter * {
    font-size: 1.2rem;
    font-weight: 600;
}

main section div .filter select {
    background-color: transparent;
    border: none;
    outline: none;
}

main section div .filter select option {
    background-color: #000;
    color: #fff;
    border: none;
}

main section div .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

main section div .search #country-filter a {
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}

main section div .search .search-bar {
    display: flex;
    gap: 0;
    background-color: #ffffffb2;
    border-radius: 5px;
}

main section div .search .search-bar input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    text-align: end;
    font-size: 1.1rem;
}

main section div .search .search-bar button {
    background-color: transparent;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

main section div .main-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

main section div .main-content div {
    position: relative;
}

main section div .main-content svg {
    width: 30px;
    height: 30px;
}

main section div .main-content .pin {
    position: absolute;
    top: 20px;
    left: 230px;
    animation: udpown 0.8s infinite;
}

@keyframes udpown {
    0% {
        top: 20px;
    }

    50% {
        top: 30px;
    }

    100% {
        top: 20px;
    }
}

main section div .main-content svg path {
    fill: #862323;
}

main section div .main-content div .title {
    font-size: 2rem;
    font-weight: 700;
    background-image: linear-gradient(90deg, #0055A4 0%, #fff 50%, #EF4135 100%);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

main section div .main-content div p {
    text-indent: 50px;
    font-size: 1.2rem;
    text-align: justify;
}

main section div .main-content div span.average {
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin-top: 3rem;
}

main section div .main-content div span.price {
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
    margin: 1rem 2rem;
}

main section div .button-container button.add-to-travel-list {
    background-color: #00F911;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    width: min(350px, 100%);
    float: right;
}

main section div .signup-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}

main section div .signup-first img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

main section div .signup-first p {
    font-size: 1.2rem;
}

main section div .signup-first button {
    background-color: #00F911;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
}

main section div .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main section div .profile-container .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
}

main section div .profile-container .profile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

main section div .profile-container .profile div.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main section div .profile-container .profile div.profile-info p {
    font-size: 1.2rem;
}

main section div .profile-container .profile-description {
    width: 60%;
}

main section div .profile-container .profile-description p {
    text-indent: 50px;
    font-size: 1.2rem;
}

main section div .profile-tours,
main section div .profile-myvisits,
main section div .profile-myalbums {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

main section div .profile-tours .tours {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

main section div .profile-tours .tour-list .tour-card {
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main section div .profile-tours .tour-list .tour-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
}

main section div .profile-title {
    font-size: 2rem;
    font-weight: 700;
    color: #00F911;
}

main section div .profile-myvisits p {
    text-indent: 50px;
    text-align: justify;
    font-size: 1.2rem;
}

main section div .profile-myalbums .album-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    overflow-x: auto;
}

main section div .profile-myalbums .album-list::-webkit-scrollbar {
    display: none;
}

main section div .profile-myalbums .album-list .album-card {
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main section div .profile-myalbums .album-list .album-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
}

main section div .aboutus-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section div .aboutus-container h1 {
    font-size: 2rem;
    font-weight: 700;
}

main section div .aboutus-container h1 span {
    color: #316FF6;
    text-decoration: underline;
}

main section div .aboutus-container h2 {
    color: #316FF6;
    font-size: 1.8rem;
    text-decoration: underline;
}

main section div .aboutus-container p {
    text-align: justify;
    font-size: 1.2rem;
}

div.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    background-image: linear-gradient(140deg, #142c47 0%, #000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
    padding: 2rem;
    border: 2px solid #fff;
    text-align: center;
    z-index: 1;
}

div.signup-form>div {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

div.signup-form>div .signup-form__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 50%;
}

div.signup-form>img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin: 10px auto;
}

div.signup-form>div .signup-form__left form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

div.signup-form>div .signup-form__left form input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #ffffffb2;
    width: 100%;
    max-width: 350px;
}

div.signup-form>div .signup-form__left form p {
    font-size: 0.7rem;
    text-align: center;
}

div.signup-form>div .signup-form__left form button {
    background-color: #00F911;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    width: min(200px, 100%);
}

div.signup-form>div .signup-form__center {
    background-color: white;
    width: 3px;
}

div.signup-form>div .signup-form__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

div.signup-form>div .signup-form__right button {
    background-color: #fff;
    border: 2px solid;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #000;
    padding: 10px;
    font-weight: 800;
    width: 250px;
}

div.signup-form>div .signup-form__right button.login-facebook {
    border-color: #316FF6;
    color: #316FF6;
}

div.signup-form>div .signup-form__right button.login-email {
    border-color: #FF0000;
    color: #FF0000;
}

div.signup-form>div .signup-form__right p {
    font-size: 1.2rem;
}

div.signup-form>div .signup-form__right a {
    color: #00F911;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 600;
}

div.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

div.login-form img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin: 10px auto;
}

div.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

div.login-form form input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #ffffffb2;
    width: 100%;
    max-width: 350px;
}

div.login-form form button {
    background-color: #00F911;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    width: min(200px, 100%);
}

div.login-form form p {
    font-size: 0.7rem;
    text-align: center;
}

div.login-form div.login-form__bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}

div.login-form div.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div.login-form div.divider hr {
    width: 150px;
}

div.login-form div.divider span {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

div.login-form div.login-form__below {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.login-form div.login-form__below button {
    background-color: transparent;
    font-size: 1.2rem;
    color: #000;
    padding: 10px;
    font-weight: 800;
    width: 250px;
    border: none;
}

div.login-form div.login-form__below button.login-facebook {
    color: #316FF6;
}

div.login-form div.login-form__below button.login-email {
    color: #FF3B30;
}

div.login-form__bottom, div.login-form {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 2rem;
    max-width: 500px;
}

div.login-form__bottom p {
    font-size: 1.2rem;
    text-align: center;
}

div.login-form__bottom a {
    color: #00F911;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 600;
}

div.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(140deg, #142c47 0%, #000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

div.login-form-container > div {
    max-width: 500px;
    width: 100%;
}

div.closerdiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
    z-index: 0;
}